include ../partials/header.pug
h1 Qui prend quoi ?
h2 Créer un événement
form(method="post" action="/party")
  div
    label(for="name") Nom de l'événement
    input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
  div
    label(for="author" required) Votre pseudo
    input(name="author" id="author" required minlength="3" placeholder="John")
  div
    label(for="date") Date de l'événement
    input(name="date" id="date" type="date")
  button(type="submit") Créer