@import 'vendors/reset.scss';

@import 'config/medias.scss';

@import 'blocs/newParty.scss';

body {
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
